<body style="background:url('22.jpg')"> 
  <form method="post" action="/getdata">
<div class="container mt-3">

  
  <form>
    <div class="input-group mb-3">
      <div class="input-group-prepend">
        <span class="input-group-text">name</span>
      </div>
      <input type="text" class="form-control" placeholder="name" name="getname">
      
      
    </div>  
    <div class="input-group mb-3">
      <div class="input-group-prepend">
        <span class="input-group-text">address</span>
      </div>
      <input type="text" class="form-control" placeholder="address" name="getaddress">
      </div>
      <div class="input-group mb-3">
      <div class="input-group-prepend">
        <span class="input-group-text">place</span>
      </div>
      <input type="text" class="form-control" placeholder="place" name="getplace" >
      
    </div>
     <div class="input-group mb-3">
      <div class="input-group-prepend">
        <span class="input-group-text">mobile</span>
      </div>
      <input type="text" class="form-control" placeholder="mobile" name="getmobile">
      </div>
      <div class="input-group mb-3">
      <div class="input-group-prepend">
        <span class="input-group-text">email</span>
      </div>
      <input type="text" class="form-control" placeholder="email">
      </div>
      <button class="btn btn-primary">SUBMIT</button>
  </form>
</div>

</body>
