<body
    

    style="background:url('22.jpg') no-repeat center fixed">
   <div class="container-fluid">
                <h3>{{name}}</h3> 
        <div class="row">
    
            <div class="col col-sm-6">
                Lorem ipsum dolor sit amet consectetur adipisicing elit. Rerum exercitationem ratione quidem delectus sed labore saepe qui eaque excepturi tempora ad, vitae cupiditate possimus nostrum aspernatur. Expedita quis quasi sapiente.
            </div>
            <div class="col col-sm-6">
                Lorem ipsum dolor, sit amet consectetur adipisicing elit. Error consequuntur aperiam, ipsam harum incidunt consequatur, tempore adipisci placeat eos praesentium quis nihil doloremque ipsum est. Dolore molestias quis dolorum temporibus?
            </div>
           
        </div>
    </div>



 </body>